.social-icon {
    display: inline-block; 
    margin: 0 10px;
    margin-left: auto; 
    margin-right: 2px;}

#social{
    margin: 0;
    padding: 0;
}

    #social a{
        color: #808080;
    }

.card{
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.skills{
    margin-bottom: 20px;
}

.projectTitle{
    margin-bottom: 10px;
}

.card h5{
  
}

.card img{
    margin-left: ;
}